.card-bg{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('./user_dashboard.jpg');
    background-position: center;
    background-size: 100% 120px;
    /* height: 600px; */
    /* width: 100%; */
    /* background-attachment: fixed; */
    background-size: cover;
    color: white;
  }